

body {
    background: #57595B;
    color: #fff;
}


.correct,
.correct:hover  {
    background-color: rgb(13, 79, 13)  !important;
    color: white !important;
}
.wrong,
.wrong:hover  {
    background-color: rgb(129, 28, 5)  !important;
    color: white !important;
}
/* From Uiverse.io by alexruix */
/* From Uiverse.io by ElSombrero2 */
.card {
    width: 190px;
    height: 254px;
    background: #171717;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 0px 3px 1px #00000088;
    cursor: pointer;
}

.card .content {
    border-radius: 5px;
    background: #171717;
    width: 186px;
    height: 250px;
    z-index: 1;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content::before {
    opacity: 1;
    transition: opacity 300ms;
    content: " ";
    display: block;
    background: white;
    width: 5px;
    height: 50px;
    position: absolute;
    filter: blur(50px);
    overflow: hidden;
}



.card::before {
    opacity: 1;
    content: " ";
    position: absolute;
    display: block;
    width: 80px;
    height: 360px;
    background: linear-gradient(#ff2288, #387ef0);
    transition: opacity 300ms;
    animation: rotation_9018 8000ms infinite linear;
    animation-play-state: running;
}


.card::after {
    position: absolute;
    content: " ";
    display: block;
    width: 250px;
    height: 360px;
    background: #17171733;
    backdrop-filter: blur(50px);
}

@keyframes rotation_9018 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* ////////////////// */

.quiz-container {
    background-color: white;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.7);
    width: 100%;
    padding: 30px;
}

.quiz-title {
    font-size: 20px;
    color: #333;
    text-align: center;
}

.question-num {
    /* text-align: right; */
    color: #666;
    font-size: 18px;
    
}

.question {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 25px;
    color: #333;
    line-height: 1.4;
}

.options-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-bottom: 30px;
    color: #171717;
}

.option {
    background-color: #f9f9f9;
    border: 2px solid #e0e0e0;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s;
}

.option:hover {
    background-color: #f0f0f0;
    border-color: #d0d0d0;
}

.score-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px 15px;
    background-color: #f0f0f0;
    border-radius: 8px;
}

.score-label {
    font-weight: bold;
    color: #333;
}

.score-value {
    font-weight: bold;
    color: #333;
}

